[2018-08-24 18:41] ericsnowcurrently opened #1 "add low-level module (_xxsubinterpreters)"
https://bugs.python.org/issue32604

[2018-08-24 18:42] ericsnowcurrently commented on #1
python/cpython/pull/1748

[2018-08-24 18:42] #1 closed

[2018-08-24 18:42] ericsnowcurrently opened #2 "bpo-32604: test failures (on some buildbots)"
https://bugs.python.org/issue32604

[2018-08-24 18:43] #2 closed

[2018-08-24 18:43] ericsnowcurrently opened #3 "bpo-32604: memory leaks (coverity)"
https://bugs.python.org/issue32604

[2018-08-24 18:44] ericsnowcurrently commented on #3
python/cpython/pull/5507

[2018-08-24 18:44] #3 closed

[2018-08-24 18:45] ericsnowcurrently opened #4 "bpo-32604: wrong keyword list entries in channel_drop_interpreter:"
https://bugs.python.org/issue32604

[2018-08-24 18:46] ericsnowcurrently opened #5 "add Windows build support"
https://bugs.python.org/issue32604

[2018-08-24 18:46] ericsnowcurrently opened #6 "clean up subinterpreters before runtime finalization"
https://bugs.python.org/issue32604

[2018-08-24 18:46] ericsnowcurrently opened #7 "swap threads only if different interpreter"
https://bugs.python.org/issue32604

[2018-08-24 18:47] ericsnowcurrently opened #8 "drop _xxsubinterpreters (etc.) from 3.7"
https://bugs.python.org/issue32604

[2018-08-24 18:47] ericsnowcurrently opened #9 "improve subinterpreter tests"
https://bugs.python.org/issue32604

[2018-08-24 18:47] ericsnowcurrently opened #10 "implement force-closing channels"
https://bugs.python.org/issue32604

[2018-08-24 18:48] ericsnowcurrently opened #11 "bpo-33615: crashes on x86 Gentoo Refleaks 3.x (and others)"
https://bugs.python.org/issue33615

[2018-08-24 18:48] ericsnowcurrently opened #12 "bpo-33724: ID-related test failures (on some buildbots)"
https://bugs.python.org/issue33724

[2018-08-24 18:49] ericsnowcurrently commented on #4
python/cpython/pull/5437

[2018-08-24 18:49] #4 closed

[2018-08-24 18:50] ericsnowcurrently commented on #5
python/cpython/pull/5516 (Zach Ware)

[2018-08-24 18:50] #5 closed

[2018-08-24 18:50] ericsnowcurrently commented on #6
python/cpython/pull/5709

[2018-08-24 18:50] #6 closed

[2018-08-24 18:50] ericsnowcurrently commented on #7
python/cpython/pull/5778

[2018-08-24 18:50] #7 closed

[2018-08-24 18:51] ericsnowcurrently commented on #8
python/cpython/pull/6813

[2018-08-24 18:51] #8 closed

[2018-08-24 18:51] ericsnowcurrently commented on #9
python/cpython/pull/6914

[2018-08-24 18:51] #9 closed

[2018-08-24 18:52] ericsnowcurrently commented on #11
python/cpython/pull/7552

[2018-08-24 18:52] #11 closed

[2018-08-24 18:53] ericsnowcurrently commented on #12
python/cpython/pull/7330

[2018-08-24 18:53] #12 closed

[2018-08-24 18:53] ericsnowcurrently commented on #10
python/cpython/pull/6937

[2018-08-24 18:53] #10 closed

[2018-08-24 19:33] ericsnowcurrently opened #13 "intermittent test failures"
https://bugs.python.org/issue33868

[2018-08-24 19:36] ericsnowcurrently opened #14 "improve test coverage for subinterpreters"
https://bugs.python.org/issue24553

[2018-08-24 19:41] ericsnowcurrently opened #15 "Coallesce PyCon notes"
At PyCon I took a bunch of notes after talking with folks about subinterpreters.  They are a bit disorganized and need to make their way into the wiki.

[2018-08-24 19:44] ericsnowcurrently opened #16 "marketing (convince Guido)"
At the PyCon 2018 sprints Guido pulled me aside and expressed his concerns at length about moving forward with subinterpreters.  I was not well prepared for the discussion and so was not very convincing.

While the majority of folks have expressed support for this project, there are a number of folks who have reservations, most notably Guido and Nathaniel Smith.  The project needs a clear story on

[2018-08-24 19:50] ericsnowcurrently opened #17 "Provide a traceback (and proxy) for propagated exceptions."
from [PEP 554](https://www.python.org/dev/peps/pep-0554/#uncaught-exceptions):

----

Currently uncaught exceptions from `Interpreter.run()` are stringified and then wrapped in a `RunFailedError` before being raised in the calling interpreter.  This was fine in theory.  However, as I've been using subinterpreters in tests I've found that this approach is extremely cumbersome for two reasons:

1. b

[2018-08-24 19:51] ericsnowcurrently opened #18 "PEP 554: buffers in channels"
Implement `SendChannel.send_buffer()` from PEP 554.

[2018-08-24 19:57] ericsnowcurrently opened #19 "channel_send_wait()"
Currently the low-level function to "send" an object over a channel is fire-and-forget.  We need a way to do the same thing but block until the object is received.

Solutions:

1. return a lock from `channel_send()` (and ignore it for the current functionality)
2. add a separate `channel_send_wait()` to explicitly wait

[2018-08-24 20:19] ericsnowcurrently opened #20 "PEP 554 (text) updates"
A few things have changed since the last time the PEP was updated:

- [ ] ...
- [ ] ...
- [ ] ...

[2018-08-24 20:23] ericsnowcurrently opened #21 "implement PEP 554 for use in test suite"
Issue #22 is about making use of subinterpreters (specifically the PEP 554 API) in the CPython test suite.
Until PEP 554 is accepted (or if it isn't) we should add a PEP 554 implementation as `Lib/test/support/_interpreters.py` (e.g. `test.support._interpreters`).

[2018-08-24 20:25] ericsnowcurrently opened #22 "use subinterpreters better in tests (esp. in regrtest)"
Subinterpreters would be useful in the test suite:

- [ ] ...
- [ ] ...

Once we have the PEP 554 implementation available (whether private, e.g. Lib/test/support/intepreters.py, or public), we can start making use of them.

[2018-08-24 20:49] ericsnowcurrently opened #23 "pending calls: circular buffer -> linked list"
Currently [`PyRuntimeState.ceval.pending.calls`](https://github.com/python/cpython/blob/master/Include/internal/ceval.h#L23) is implemented as a circular buffer.  A linked would have a much simpler implementation without much extra cost.

[2018-08-24 20:52] ericsnowcurrently opened #24 "per-interpreter: pending calls (from ceval state)"
(Note: this was reverted, so the underlying problem needs to be addressed and then the PR re-merged.)

Move `PyRuntimeState.ceval.pending` to `PyInterpreterState.ceval.pending`.

- [x] move pending calls from `PyRuntimeState` to `PyInterpreterState`
- [x] move eval "breaker" flag to `PyInterpreterState`
- [x] pass `PyInterpreterState *` to related macros (rather than rely on `PyThreadState_Get()`)

[2018-08-24 20:55] ericsnowcurrently opened #25 "fix atexit under subinterpreters"
http://bugs.python.org/issue6531
https://bugs.python.org/issue31901

[2018-08-24 21:05] ericsnowcurrently opened #26 "per-interpreter: atexit"
Choose one:

1. move `PyRuntimeState.exitfuncs` to `PyInterpreterState.exitfuncs`
2. track interpreter for each exit func

Notable concerns:
* for #2, track the interp ID or the pointer?
* trigger when interpreter finalizes or when runtime finalizes?
* when to error?

[2018-08-24 21:12] ericsnowcurrently opened #27 "per-interpreter: gilstate"
http://bugs.python.org/issue10915
http://bugs.python.org/issue15751

Move `PyRuntimeState.gilstate` to `PyInterpreterState.gilstate`.

[2018-08-24 21:16] ericsnowcurrently opened #28 "per-interpreter: warnings"
Move `PyRuntimeState.warnings` to `PyInterpreterState.warnings`.

Notable concerns:
* inherited from "parent" interpreter when subinterpreter created?
* when to error?
* keep a global warnings config?

[2018-08-24 21:19] ericsnowcurrently opened #29 "per-interpreter: gc"
Move `PyRuntimeState.gc` to `PyInterpreterState.gc`.

Notable concerns:
* can be moved separately from rest of mem state?
* do we still need a global state for anything?  (just use "main"?)

(https://bugs.python.org/issue36854)

[2018-08-24 21:26] ericsnowcurrently opened #30 "per-interpreter: memory allocators"
[maybe split into more granular tasks]

1. move the global state back to Include/internal
2. move those fields from `PyRuntimeState` to `PyInterpreterState`

Notable concerns:
* very delicate code
* allocators needed before main interpreter created (?)
* keep a global allocator?

------------------

The global state for this was moved out of `Include/internal`:

* ...
* ...
* ...

[2018-08-24 21:30] ericsnowcurrently commented on #25
python/cpython/pull/4611

[2018-08-24 21:30] #25 closed

[2018-08-24 21:31] ericsnowcurrently commented on #26
python/cpython/pull/4611

[2018-08-24 21:31] #26 closed

[2018-08-24 21:41] ericsnowcurrently opened #31 "per-interpreter: eval breaker flag (from ceval)"
Move `PyRuntimeState.ceval.eval_breaker` to `PyInterpreterState.ceval.eval_breaker`.

[2018-08-24 21:43] ericsnowcurrently opened #32 "per-interpreter: tracing flag (from ceval)"
* copy `PyRuntimeState.ceval.tracing_possible` to `PyInterpreterState.ceval.tracing_possible`
* leave the global flag in place

[2018-08-24 21:47] ericsnowcurrently opened #33 "re-assess global state"
- [ ] verify all global state is either in `PyRuntimeState` or explicitly exempted
- [ ] set up CI check for global state not in `PyRuntimeState`
- [ ] ensure plans are in place for all parts of `PyRuntimeState` that should be interpreter-specific

[2018-08-24 21:50] ericsnowcurrently opened #34 "per-interpreter: GIL (from ceval)"
[probably last thing to move]

blockers:
- [ ] #33
- [ ] #27
- [ ] #29
- [ ] #30
- [ ] #31
- [ ] #28

[2018-08-31 21:26] ericsnowcurrently opened #35 "Migrate _testembed to a C unit testing library."
https://bugs.python.org/issue24932

[2018-08-31 21:34] ericsnowcurrently opened #36 "GC tied to main interpreter"
https://bugs.python.org/issue24554

GC should happen when a subinterpreter is destroyed (GC currently tied to main interpreter context)

See also:
https://github.com/GrahamDumpleton/mod_wsgi/issues/43
http://emptysqua.re/blog/a-normal-accident-in-python-and-mod-wsgi/

[2018-08-31 21:35] ericsnowcurrently opened #37 "readline hooks and subinterpreters"
https://bugs.python.org/issue4202

[2018-08-31 21:35] ericsnowcurrently opened #38 "memory leaks with embedded interpreter re-init"
https://bugs.python.org/issue21387

[2018-08-31 21:35] ericsnowcurrently opened #39 "C extension init races under subinterpreter"
https://github.com/pyca/cryptography/issues/2299

[2018-08-31 21:35] ericsnowcurrently opened #40 "problems when reloading C extensions"
https://bugs.python.org/issue34309

[2018-08-31 21:35] ericsnowcurrently opened #41 "Address any other issues found via mod_wsgi."
(also other subinterpreters users, e.g. Ceph)
(also feedback from Graham)

[2018-09-07 20:32] ericsnowcurrently opened #42 "Move hash randomisation initialisation out of Python/random.c"
https://bugs.python.org/issue29120

[2018-09-07 21:49] ericsnowcurrently commented on #15
Done:
* opened issues
* https://github.com/ericsnowcurrently/multi-core-python/wiki/1-What's-the-Point%3F

[2018-09-07 21:49] #15 closed

[2018-09-10 14:47] ericsnowcurrently commented on #16
I've got the page close enough.

[2018-09-10 14:47] #16 closed

[2018-09-10 19:37] ericsnowcurrently opened #43 "Raise the "original" exception from Interpreter.run()?"
Currently uncaught exceptions from `Interpreter.run()` are stringified and then wrapped in a `RunFailedError` before being raised in the calling interpreter.  In #17 we're addressing the issue of not having a traceback for the propagated exception.  However, there's still a practical concern boilerplate (much more often than expected) to deal with the original exception.

Once #17 is sorted out, h

[2018-09-12 22:00] ericsnowcurrently opened #44 "Disallow fork in a subinterpreter."
~https://bugs.python.org/issue34651~ - `fork()` *always* disallowed in subinterpreters
~https://bugs.python.org/issue37951~ - small exception added for `subprocess.Popen()` if strict fork+exec (no `preexec_fn` arg provided)
~https://bugs.python.org/issue38778~ - add a note to the `os.fork()` docs
https://bugs.python.org/issue38816 - add info to the C-API docs

[2018-12-11 22:21] ericsnowcurrently commented on #23
https://bugs.python.org/issue35466
https://github.com/python/cpython/pull/11122

[2018-12-11 22:22] ericsnowcurrently commented on #24
https://bugs.python.org/issue35423
https://github.com/python/cpython/pull/10972

https://bugs.python.org/issue33608
https://github.com/python/cpython/pull/9334

[2019-03-01 23:54] #31 closed

[2019-03-02 00:04] #23 closed

[2019-04-26 22:32] ericsnowcurrently commented on #28
https://bugs.python.org/issue36737

[2019-05-07 16:13] ericsnowcurrently commented on #28
https://bugs.python.org/issue36835

[2019-06-12 15:02] crusaderky opened #45 "concurrent.futures.InterpreterPoolExecutor"
As one of the logical consequences to PEP 554, it would be neat to have a ``concurrent.futures.InterpreterPoolExecutor``.

I wrote the initial code at https://github.com/crusaderky/subinterpreters_tests - currently missing unit tests and pickle5 buffers support.

If everybody is happy with the design, I'll start working on a pull request to CPython as soon as https://github.com/ericsnowcurrently/m

[2019-06-12 15:17] crusaderky opened #46 "Can't unpickle objects defined in __main__"
As of CPython 3.8.0b1, main branch (please let me know if there's a different branch I should use):

If one pickles an object that is defined in the ``__main__`` module, sends it to a subinterpreter as bytes, and then tries unpickling it there, it fails saying that ``__main__`` doesn't define it.
[code]
If the above is executed directly with the python command-line, it fails.
If it's imported from

[2019-06-13 05:52] dreamingleo commented on #30
Can we have per interpreter allocators and a flag telling whether we are in the main interpreter? The overhead doesn't sounds terrible.

[2019-06-15 00:20] ericsnowcurrently commented on #30
"per interpreter allocators" is exactly what this issue is for.

What do you mean by "per interpreter heap"?  The C heap wouldn't make sense so I'm guessing you're talking about the Python "heap".  If so, that's pretty much unrelated to what we're working on here.  Consider starting a thread on the python-ideas or python-dev mailing lists.

Where are you looking for a flag about the main interpret

[2019-06-15 00:36] ericsnowcurrently commented on #45
Whoa, that's really cool! :)  I *have* talked briefly with Davin Potts about integrating subinterpreters into multiprocessing, but hadn't thought about concurrent.futures.  So thanks for looking into this.

I recommend opening an issue on bugs.python.org for this as soon as it makes sense.  This repo is unofficial, effectively just a planning tool with a specific goal in mind, and mostly just me.

[2019-06-15 00:37] ericsnowcurrently commented on #46
This definitely sounds like a bug. :(  Thanks for finding that!  Please open a new issue on bugs.python.org and feel free to nosy me.

[2019-06-21 15:22] ericsnowcurrently commented on #45
https://bugs.python.org/issue37293

@crusaderky, thanks!

[2019-06-21 15:22] #45 closed

[2019-06-21 15:29] ericsnowcurrently commented on #46
https://bugs.python.org/issue37292

@crusaderky, Thanks!

[2019-06-21 15:38] ericsnowcurrently commented on #46
I'm going to track this here along with other subinterpreter-related bugs that need short-term attention.

[2019-06-21 21:53] ericsnowcurrently opened #47 "Critical deficiencies in `Tools/c-globals/check-c-globals.py`."
(see #33)

The existing `Tools/c-globals/check-c-globals.py` script is an important tool for achieving a per-interpreter GIL (and generally for the health of the CPython code base).  However, it has a number of problems that keep it from being helpful in reaching that objective.

First we'll review the characteristics of the tool.  Then we'll look at the deficiencies.  Finally, we'll cover the spe

[2019-06-21 21:54] ericsnowcurrently opened #48 "`Tools/c-globals/check-c-globals.py` should pass without any ignored globals."
(blocked by #47)

When `check-c-globals.py` runs it fails if it finds any globals (static variables) that it determines should not be global (e.g. hold per-interpreter runtime state).  Currently have a fixed list of globals that we ignore, which would otherwise cause the script to fail.  It needs to pass without such a list.

That list is stored in `Tools/c-globals/ignored-globals.txt` (or its rep

[2019-06-22 17:56] ericsnowcurrently opened #49 "Non-critical deficiencies in `Tools/c-globals/c-globals.py`."
(see #33)

In #47 we are addressing critical deficiencies in the `check-c-globals.py` (and adding `c-globals.py`).  Here we are focusing on nice-to-haves for `c-globals.py` (at the least identifying them).  While they are not the focus of #47, some of them might be partially addressed there.

Here are some non-critical deficiencies:

* only identifies statics for a single set of defines (i.e. for

[2019-07-05 17:50] ericsnowcurrently opened #50 "Validate results from `Tools/c-analyzer/c-statics.py` using other tools."
(blocked by #47)

It is important that we have confidence in the results from the `Tools/c-analyzer/c-statics.py` script.  So we should add at least one mechanism to validate those results using an independent tool.

Here are possible ways to double-check the results from the checker:

* use pycparser (requires preprocessor, so only local ifdefs)
* use the `nm` command (not on Windows; symbols onl

[2019-09-02 16:24] dumblob opened #51 "Question: Channels will never support queue-like polling interface?"
Currently PEP 554 [states](https://www.python.org/dev/peps/pep-0554/#id72 ), that the idea of channels acting like queues was rejected.

I'm a bit surprised about that as single-producer-single-consumer queues (e.g. a ring buffer) are basically the [most efficient known structures](http://daugaard.org/blog/writing-a-fast-and-versatile-spsc-ring-buffer ) to share data in **small batches** (potentia

[2019-09-10 16:03] ericsnowcurrently commented on #51
The main goal of the PEP is to get to a minimum level of functionality.  We can build from there.  So I guess the answer to all your questions is "we can work that out later". :)  That said, I don't see a problem with expanding the capability of channels in the ways that you've described (though you'd need to do the work or find someone to do it).  It's too early to promise anything, so let's revi

[2019-09-13 09:12] nanjekyejoannah opened #52 "Low level functionality for listing interpreters associated with a channel"
One of the attributes for class ``RecvChannel(id)`` and class ``SendChannel(id)`` is interpreters but currently there is no low-level functionality to associate interpreters with a channel.

[2019-09-18 00:07] eduardo-elizondo opened #53 "A guide for PEP384 and static free C Extensions"
One of the big blockers for PEP554 and different Python VM implementations is the use of global statics. Getting rid of this would mean the full migration of all C Extension to PEP384 as well as the removal of any static state. However, many core-devs still have lots of questions on how to correctly do this.

I have a step by step guide on how to migrate a C Extension with statics to a C Extension

[2019-09-18 07:33] encukou commented on #53
I don't think that we need to fully migrate to the stable ABI (PEP 384) to support multiple subinterpreters (PEP 554). They are two different things.
I am trying to keep both in mind when designing new API (like multi-phase init, PEP 489, and module state access, PEP 573). My goal is that with new API you get subinterpreter support easily, if not "for free": it should be easy to do the right thing

[2019-09-18 07:34] dumblob commented on #53
I can't comment on the other stuff, but updating docs in a way which discourages use of statics is definitely a needed step.

[2019-09-20 18:03] ericsnowcurrently opened #54 "Get Cython to produce subinterpreter-compatible extensions."
At the Python core sprint this year I asked @scoder about Cython support for subinterpreters.  He explained that Cython implements PEP 489 (multi-phase init) but does not support subinterpreters (even though implementing PEP 489 implies support).  In particularly Cython generates extensions with non-const global variables (e.g. statics).  Anything we can do to help Cython support subinterpreters w

[2019-09-20 18:09] ericsnowcurrently commented on #53
Extension authors would definitely benefit from more documentation on best practices for interacting with the C-API.  A dedicated page in the official Python docs on how to take advantage of the stable ABI would be great.  Sharing it first with the capi-sig would be a good idea, though for feedback it might be better to surface the doc as some sort of pull request on which people can leave comment

[2019-09-20 19:37] encukou commented on #54
Full support for multiple subinterpreters would of course be amazing, but I'd like to be clear that it'll be an *enhancement*. Today, Cython is doing nothing wrong.

Cython's extensions can only be imported in one interpreter. An import in another interpreter fails cleanly. The meaning of "to support subinterpreters" has changed somewhat in the last five years, but we (the PEP's authors) did mean

[2019-09-20 21:31] ericsnowcurrently commented on #54
Yeah, you're right.  I should have been more clear.

[2019-09-23 21:21] eduardo-elizondo commented on #54
@ericsnowcurrently We are already eyeing this! It indeed possible to achieve it by changing the code generator to follow the patterns that we have been introducing in CPython's C Extensions. That being said, I would really like to get a critical mass in CPython before getting to any external project.

If we get more changes merged, I can easily get the Cython generator to support this. Currently,

[2019-10-27 16:07] LewisGaul commented on #52
Hi there, I'm a new contributor interested in getting involved with this project and was wondering if this issue might be suitable. Could anyone provide any pointers for where to start with implementing this?

[2019-10-27 16:28] LewisGaul commented on #32
Hey, here as a first-time contributor. I've had a look into this and found the relevant `struct pyruntimestate`, `_ceval_runtime_state.tracing_possible` and `struct _is` in `pycore_pystate.h`. It seems the interpreter state doesn't have a `ceval` field - what is the change that's actually needed here?

[2019-10-27 20:14] nanjekyejoannah commented on #52
Thanks for offerring to help. This week, I will resume my work on this: https://github.com/nanjekyejoannah/cpython/pull/1 and I really needed this low level module.

The low level subinterpreters functionality are implemented in Modules/_xxsubinterpretersmodule.c . The file has similar functions. You can take a look for some leads. I hope this helps.

Feel free ask more questions If you have any.

[2019-10-27 20:45] LewisGaul commented on #13
I notice the linked bpo issue has been moved to 'closed' with resolution 'out of date' (on 2019-09-20) - should this issue also be closed or is there still something to look into here?

[2019-10-27 20:53] LewisGaul commented on #13
I now realise there is this open issue that this could refer to: https://bugs.python.org/issue37224.

[2019-10-27 22:22] LewisGaul commented on #42
The linked bpo issue is resolved - should this be closed?

[2019-10-27 22:41] LewisGaul commented on #52
Thanks for the pointers Joannah, I took a look at your `interpreters` module implementation - it's cool to have a runnable proof-of-concept :)

I'll take a further look into this when I have time, hopefully this week.

[2019-11-01 19:03] ericsnowcurrently commented on #32
`PyInterpreterState` (AKA `struct _is`) will need a `ceval` field similar to how it currently exists on `_PyRuntimeState` (AKA `struct pyruntimestate`).  We also need to make sure none of the current semantics get lost in the shuffle.

FWIW, the question of leaving the global flag in place is still debatable.

[2019-11-01 19:05] ericsnowcurrently commented on #13
Yeah, the linked issue isn't right.  In fact, there are several issues open.  I'll add the links.

[2019-11-01 19:15] ericsnowcurrently commented on #42
Good catch.  I'm not sure why I even created this issue in the first place. :)

[2019-11-01 19:15] #42 closed

[2019-11-01 19:36] ericsnowcurrently commented on #44
It would probably make sense to make a `PyInterpreterState` flag that determines if fork is disallowed...

[2019-11-01 19:38] ericsnowcurrently opened #56 "Crash with subinterpreters and Py_NewInterpreter()"
https://bugs.python.org/issue30060

[2019-11-01 19:40] ericsnowcurrently opened #57 "Lingering subinterpreters should be implicitly cleared on shutdown"
https://bugs.python.org/issue36225

[2019-11-01 19:43] ericsnowcurrently opened #58 "FIX a memory leak"
https://bugs.python.org/issue31200
https://github.com/python/cpython/pull/13168

[2019-11-01 19:49] ericsnowcurrently opened #59 "Avoid increment refcnt before creating its mutex."
https://github.com/python/cpython/pull/13164

[2019-11-01 19:49] ericsnowcurrently commented on #59
could not reproduce

[2019-11-01 19:49] #59 closed

[2019-11-01 20:10] jakirkham commented on #44
Am curious, why don't forking and subinterpreters play nice?

[2019-11-01 20:11] jakirkham commented on #56
This appears to be a Python 2.7 issue only, right?

[2019-11-01 20:18] ericsnowcurrently commented on #44
In general, fork is problematic for the CPython runtime.  There are system resources (e.g. file descriptors) that have to be managed properly.  When you throw subinterpreters into the mix, particularly if they no longer share the GIL, then there's even more complexity in managing those system resources.

Another reason is that the CPython runtime currently makes assumptions about which interpreter

[2019-11-01 20:22] ericsnowcurrently commented on #56
Hmm, if it is 2.7-only then there's nothing to do. :)  It would be worth double-checking.  Given how much the runtime initialization/finalization implementation has changed since 2.7, I wouldn't be surprised if it was no longer a problem.

[2019-11-01 20:22] ericsnowcurrently commented on #56
Good catch, BTW.

[2019-11-01 21:26] jakirkham commented on #44
Yeah that makes sense. Thanks for the context.

It seems useful to track these issues as users may want to mix these. Admittedly they are probably lower priority issues than anything else atm.

[2019-11-01 21:29] jakirkham commented on #56
Sure. Happy to help.

It's probably worth noting they were building Python 2.7 with VS 2015, which is not officially supported AFAIK. Additionally they were patching it.

So this may be far enough off the beaten path such that it isn't worth worrying about. Happy to defer to your judgement though.

[2019-11-01 21:38] ericsnowcurrently commented on #56
Yeah, let's not worry about it unless there is a more clearly relevant report. :)

[2019-11-01 21:38] #56 closed

[2019-11-01 21:51] ericsnowcurrently commented on #44
Those are pretty far outside the scope of this project, other than as context for this particular issue.  However, it may be worth recording that info somewhere it won't get lost.

It would probably make sense to open a separate BPO issue about adding a long comment to the relevant code about the complexities of fork relative to subinterpreters.  That might be a better place than the docs, which a

[2019-11-01 22:35] gpshead commented on #44
3.8+ have a note in the docs about subprocess preexec_fn being disallowed in subinterpreters as of https://github.com/python/cpython/commit/98d90f745d35d5d07bffcb46788b50e05eea56c6.  But I don't recall us adding higher level fork + subinterpreters docs (i'd have to go read things and hunt for it, same as anyone else).  It seems worthwhile to mention.

[2019-11-01 22:44] ericsnowcurrently commented on #44
Thanks Greg.  FYI, the change to disallow fork in subinterpreters was reverted due to problems with mod_wsgi.  I haven't gotten back to sorting that out yet.

[2019-11-04 13:10] LewisGaul commented on #32
I've created a new interpreter state ceval struct with just the `tracing_possible` flag. Should it contain any of the other fields from the runtime state ceval struct? I also have a question about how to set the value of the new flag, see the attached diff.

[subinterp-tracing-flag.txt](https://github.com/ericsnowcurrently/multi-core-python/files/3804090/subinterp-tracing-flag.txt)

P.S. Is attach

[2019-11-08 19:39] dimitern commented on #20
A minor typo I found here: https://www.python.org/dev/peps/pep-0554/#passing-objects-via-marshal
Not sure a comment is the proper way to report this - it's minor anyway.

[code]
should most likely be:
[code]
Happy to file an issue if would be helpful.

[2019-11-08 19:45] ericsnowcurrently commented on #20
Hey @dimitern!  Yeah, an issue and PR would be great!  Both should be made against the https://github.com/python/peps repo.

[2019-11-08 19:45] ericsnowcurrently commented on #20
Please @-mention me on the issue you create.

[2019-11-12 14:56] phmc commented on #44
I've been looking at this today, resulting in a small docs change: https://bugs.python.org/issue38778

I think this closes the issue off:

- os.fork is still disallowed from subinterpreters in all cases.

- Greg's fix (bpo-37951) allows fork/exec in subinterpreters via the subprocess module (`subprocess_fork_exec`) *unless* a pre-exec function is passed. This is exactly the behaviour we want: the

[2019-11-12 16:59] phmc commented on #44
Actually one final thing on your previous comment Eric:

What's your current view on this? I'm not sure abstracting away "is fork allowed" has any functional benefit as I don't see any chance of the meaning changing (i.e. anything other than "am I the main interpreter?"), although it would neaten things up a bit.

[2019-11-15 18:48] ericsnowcurrently commented on #44
Hmm, yep, there is nothing else to do. :)  I've also opened https://bugs.python.org/issue38816 about adding more details to the C-API docs.

[2019-11-15 18:52] #44 closed

[2019-11-18 23:58] LewisGaul commented on #52
Would anyone be able to take a quick look at the PR I have open at https://github.com/LewisGaul/cpython/pull/3 to check I'm heading in the right direction before spending time polishing it? Please ask if anything isn't clear :)

[2019-11-21 10:53] LewisGaul commented on #46
I've looked into this issue and reproduced the reported behaviour, but it's not clear to me why this should be expected to work?

@crusaderky Could you help me out by providing a code snippet that reproduces the behaviour you're referring to here?

[2019-11-21 16:40] benedwards14 commented on #19
Hi, I've been helping out with implementing the channel_list_interpreters API, and was wondering if it would be ok for me to also have a go at implementing this?

[2019-11-21 22:32] crusaderky commented on #46
@LewisGaul
[code]
f is being pickled in the main process and unpickled in the slave process.

[2019-11-21 22:35] crusaderky commented on #46
A bit clearer:
[code]
Output:
[code]

[2019-11-21 22:55] LewisGaul commented on #46
Ah yes ok, thanks for the example. I'll take a look at how subprocess achieves this and see if I can work out what needs doing for subinterpreters.

[2019-11-22 18:12] phmc commented on #24
Just pinging here too: I've added some thoughts on the crash exposed by the pending calls changes on the bpo issue https://bugs.python.org/issue33608

[2019-11-22 20:23] ericsnowcurrently commented on #52
Thanks for working on this, @LewisGaul.  I'm taking a look today.

[2019-11-22 22:01] ericsnowcurrently commented on #19
I would love it if you did it! :)  I was working on this as recently as April (leading up to PyCon), but tabled it when I decided at PyCon to focus on the making the GIL per-interpreter.

Apparently I was trying different approaches as I found that I have 4 different related branches:

https://github.com/ericsnowcurrently/cpython/tree/channel-send-wait
https://github.com/ericsnowcurrently/cpython/

[2019-11-22 22:09] ericsnowcurrently commented on #46
Thanks for looking into this, @LewisGaul (and @crusaderky).  Please continue the discussion, but do it [over on BPO](https://bugs.python.org/issue37292).

FYI, this repo is intended mostly for coordinating effort and breaking down.  We want to stick to the normal core development workflow as much as possible.  Plus you're likely to get better involvement from the community that way (even if no one

[2019-11-22 22:10] ericsnowcurrently commented on #24
Thanks!  I'll take a look and respond over there.  (Hopefully I can get to it today.)

[2019-11-22 22:59] vstinner commented on #29
I closed https://bugs.python.org/issue36854 so this issue can be closed as well, no?

[2019-11-22 23:39] LewisGaul commented on #46
Noted, I'll shift the discussion to there :)

[2019-11-23 00:35] ericsnowcurrently commented on #29
oh, funny, I moved it to "done" but that didn't close it :)

[2019-11-23 00:35] #29 closed

[2019-11-23 00:36] #28 closed

[2019-11-29 03:57] Rocky5241 opened #60 "Question: How is the project coming along?And How do We join it?"
Hi Eric Snow,

We currently use Python for some data processing on mobile devices. Due to performance requirements, we have made a lot of changes to Python 2.7 to support multiple Interpreters concurrent execution (using TLS, and tailoring some libraries we don't need). At the same time we plan to upgrade Python to the latest 3.9.

Recently we saw PEP554 and found that our previous technical solut

[2019-12-11 11:58] benedwards14 commented on #19
Hi Eric,

My current plan with this is to implement a new API channel_send_wait() which has an optional timeout parameter. This would then add a lock to the data that is sent which is released whenever it is received. The sender would then wait for the lock to be released or until the timeout is done.

Let me know what you think?

[2019-12-12 01:07] idahogray opened #61 "Erlang/Elixir/BEAM"
I am sure you are aware but this approach sounds very similar to the way the BEAM languages work. Lightweight "processes" managed by the BEAM VM that don't share any memory and transfer data by passing messages. The BEAM also has ideas such as links which can create messages when a process dies. This enables a supervision tree. OTP is a series of libraries built on top of the primitives provides b

[2019-12-13 19:33] ericsnowcurrently commented on #60
I've responded by email.  (sorry for the long delay)

[2019-12-13 19:33] #60 closed

[2019-12-13 20:25] ericsnowcurrently commented on #19
Thanks for that update.  The approach sounds reasonable.  I've a few comments below.  Keep in mind that I tried that approach out and decided to do it differently.  I'm not sure why, but I'll try to find a reason for you.  Anyway...

That's reasonable.  My implementation was re-using `channel_send()`, but I don't recall why I did that instead of a separate function.  Maybe I figured it was unneces

[2019-12-13 20:27] ericsnowcurrently commented on #19
Just to clarify, the approach I settled on was to return a "wait" function from `channel_send()`.  [From my branch](https://github.com/python/cpython/compare/master...ericsnowcurrently:channel-send-wait#diff-de6e5174f1d465f3b1510ce42234c070R2811):

[code]

I'm pretty sure that implementation was fairly close to complete.  However, I at this point I have no recollection of what was left to be done.

[2019-12-13 20:31] ericsnowcurrently commented on #19
So I opted to go with a solution that kept the "send" and "wait" operations separate.  For a low-level function this would provide the most flexibility and aligns with how other low-level functions are designed.

I also chose to re-use `channel_send()`.  For a low-level function this seemed more appropriate.  However, I'm still not absolutely sure why I did it.  It's probably because I didn't see

[2019-12-13 20:36] ericsnowcurrently commented on #19
Some key points to be aware of:

* this low-level function will only be used by the high-level implementation of PEP 554 (just like we discourage use of the low-level `_thread` module)
* the implementation must be safe in a world where subinterpreters do not share a GIL; that means they cannot share objects and must be thread-safe in anything they do share (like low-level locks)
* the shared lock

[2019-12-13 20:38] ericsnowcurrently commented on #19
Anyway, unless there is a better alternative, I'd rather we take the same approach that I was pursuing before (regardless of if my implementation is used or not).  However, I'd be glad to discuss this further.

[2019-12-13 20:55] ericsnowcurrently commented on #61
That's really useful information, @idahogray.  That's really interesting.  I read through a short explanation of BEAM concurrency (and parallelism), oriented toward implementation rather than the programming model.  It sounds like there's a VM running per core (with a high degree of isolation) and a process-global load balancer hands out tasks to VM task queues.  There are some similarities with C

[2019-12-14 17:53] benedwards14 commented on #19
Hi Eric,

Thanks so much for all of this, its really helpful. I did not realise this was going to be an internal API so i think i will make a couple of changes.

So i think my new design should be `channel_send_wait(cid, obj, timeout=-1) => bool`:
- I think I'm going implement a new internal API because the functionality of `channel_send_wait()` has a different functionality to `channel_send()` wh

[2019-12-21 00:08] ericsnowcurrently commented on #24
FTR, this is effectively blocked by https://bugs.python.org/issue36476, "Runtime finalization assumes all other threads have exited."

[2020-01-31 19:12] ericsnowcurrently opened #62 "Language Summit talk (PyCon 2020)"
By April the initial phase of the project should be wrapping up.  This would be a good time to provide a retrospective.  I've submitted a proposal for such a presentation.  Any collaborators here that will be at the language summit are welcome to co-present.

I'd like to cover the following high-level topics:

1. the problems we're solving (multi-core; concurrency model)
2. the approach we took (s

[2020-01-31 19:18] nanjekyejoannah commented on #62
@ericsnowcurrently when should I look at having a PR for high-level sub-interpreters for review atleast upstream is April too early. IIRC, the PEP is not decided yet.

[2020-01-31 19:21] ericsnowcurrently commented on #62
We'll ping Antoine in the next month or so.  I don't expect much more than one round of feedback at this point, given that we've done 3 already and the last one didn't get much response. :smile:  So April seems reasonable to me (assuming the PEP is accepted, which I anticipate to be true).

[2020-01-31 19:27] nanjekyejoannah commented on #62
I am not likely to come for Pycon this year but I will communicate status to you and will ensure I open a PR for review upstream i.e CPython repo before March for the high-level part of sub-interpreters as I look like I may have time this Feb.

[2020-02-02 01:37] vstinner commented on #62
I don't know if it's worth it that I co-present, but I can share that I did for subinterpreters over the last months on better isolating subinterpreters:

* Passing explicitely tstate: https://vstinner.github.io/cpython-pass-tstate.html
* Move GC state into PyInterpreterState
* Making small integer singletons per interpreter

Right now I'm working on https://bugs.python.org/issue39511 which is not

[2020-02-03 10:22] encukou commented on #62
Happy to co-present. Time is short, but I believe I can fit the highlights from my side into a minute.
* Progress on [PEP 573 -- Module State Access](https://www.python.org/dev/peps/pep-0573/) was side-tracked by [PEP 590 -- Vectorcall](https://www.python.org/dev/peps/pep-0590/) (whose early iterations promised to help with PEP 573 much more than it did in the end), but at PyCon there will hopeful

[2020-02-04 16:31] ericsnowcurrently commented on #62
@vstinner, sounds good.  At the very least I'll make sure the slides cover the various work that everyone has been doing. :smile:

@encukou, yeah, we can work it out either way.  Regardless, I figured if anyone had enough to talk about then then could get a dedicated slot (or do a lightning talk).

[2020-02-07 15:10] soltysh commented on #57
@LewisGaul is working on a fix in https://github.com/python/cpython/pull/17575

[2020-02-07 15:34] soltysh commented on #41
@ericsnowcurrently do you have that list of issues from @GrahamDumpleton and others?

[2020-02-07 17:02] ericsnowcurrently commented on #41
If I remember right, I created separate issues here (and on BPO if missing) for each of the problems that Graham and others told be about.  Otherwise, the best record I have is in the ["old notes" page](https://github.com/ericsnowcurrently/multi-core-python/wiki/99-Old-Notes#mod_wsgi) in the wiki.

[2020-02-07 17:03] ericsnowcurrently commented on #41
Keep in mind that this issue is about identifying any problems that we don't already know about.  I'm sure there are some, but without help we'll have a hard time finding them (before it's much more painful).

[2020-02-07 17:04] ericsnowcurrently commented on #57
Thanks for noticing that. :smile:

[2020-02-07 20:32] soltysh commented on #41
I'll review what's in the notes, and try to look around and get info from Graham as well. Still worth linking issues, just for the record :wink:

[2020-03-19 02:03] vstinner commented on #36
I fixed https://bugs.python.org/issue36854 and https://bugs.python.org/issue24554

[2020-03-19 02:03] #36 closed

[2020-03-19 02:05] vstinner commented on #30
A workaround is to disable pymalloc. It can even be done by setting PYTHONMALLOC env var to "malloc" for example. libc malloc() is thread safe.

[2020-03-19 02:07] vstinner commented on #24
and

Are fixed by https://github.com/python/cpython/commit/50e6e991781db761c496561a995541ca8d83ff87 : see https://bugs.python.org/issue39984

[2020-03-19 02:15] vstinner commented on #24
is done, so I close the issue.

[2020-03-19 02:15] #24 closed

[2020-03-19 02:17] vstinner commented on #32
Done by https://github.com/python/cpython/commit/dab8423d220243efabbbcafafc12d90145539b50 in https://bugs.python.org/issue39984

[2020-03-19 02:17] #32 closed

[2020-03-19 02:27] vstinner commented on #58
https://bugs.python.org/issue31200 was closed.  I added _PyUnicode_FiniEncodings() in commit https://github.com/python/cpython/commit/bf305cc6f05948f264349a6a6c6fd7d49c1839d3. It's called indirectly by Py_EndInterpreter(): finalize_interp_types() calls _PyUnicode_Fini(). I close this issue.

[2020-03-19 02:27] #58 closed

[2020-03-27 16:10] ericsnowcurrently commented on #36
Thanks @vstinner!

[2020-03-27 16:15] ericsnowcurrently commented on #30
@vstinner, a workaround for what?  per-interpreter allocators or the bug for which we rolled back moving the allocators into PyRuntimeState?

[2020-03-27 16:26] ericsnowcurrently commented on #24
Thanks @vstinner!  I'm glad that at least this part of https://bugs.python.org/issue33608 has made it in. :smile:

[2020-03-27 16:29] ericsnowcurrently commented on #32
Thanks, @vstinner!

[2020-03-27 18:03] vstinner commented on #30
@ericsnowcurrently: "@vstinner, a workaround for what?"

pymalloc is not thread safe. If you want to experiment subinterpreters running in parallel in different threads, you can force the usage of the libc malloc()/free() by setting PYTHONMALLOC env var to "malloc".

[2020-04-16 23:46] ericsnowcurrently commented on #62
This ended up being a lightning talk. :smile:  Here are the slides:

https://docs.google.com/presentation/d/16M3v1sEOJO0xoMW9qupAzyPsYLfseeWv9zXXAMee4aE

[2020-04-16 23:46] #62 closed

[2020-04-17 20:26] ericsnowcurrently commented on #19
@benedwards14, FYI, I'm planning on getting this wrapped up by the end of next week.  I'd love to take advantage of the work you have done.  Where are things at?

[2020-04-17 20:42] ericsnowcurrently commented on #21
@nanjekyejoannah, what's the status on this?  IIRC you were blocked on a few other issues.  I'm hoping we can get them resolved in the next week or so and then get this merged.  What do you think?

[2020-04-17 20:58] nanjekyejoannah commented on #21
@ericsnowcurrently, yes I have most of it working. I will need to take a day or two for final touches. I have exams this coming week till around 24th but I will be able to get the remaining work through after 24th. So we are talking about practically hearing from me by 28th.

[2020-04-17 23:20] ericsnowcurrently commented on #21
Sounds good.  Good luck on your exams! 😁

[2020-04-18 22:17] benedwards14 commented on #19
Hi @ericsnowcurrently, to be honest with you i hit a snag around christmas and stopped working on it, but after spending a bit more time on it, i think ive got it working.

I'm going to spend a bit more time on it tomorrow and hopefully put up a pull request by end of tomorrow.

[2020-04-19 19:42] benedwards14 commented on #19
Hey @ericsnowcurrently , i managed to finish my implementation done. Its still rough around the edges but I think it should work.

Along with bits I mentioned above, I've added what i call a `tracker` to the `channelitem` which is some bits and the lock. The reason I did this is for the case when `channel_send_wait` times out and then the item is received it needs to know that the lock has already

[2020-04-20 08:02] thedrow opened #63 "Learn lessons from the PyParallel project"
I believe our sub-interpreters work in PEP 554 can be greatly enhanced with the ideas of the [PyParallel ](https://github.com/pyparallel/pyparallel) project.

Since we're no longer going to share the GIL between sub-interpreters this creates an optimization opportunity we haven't considered.

I believe we can create a Python interpreter which is:

1. Multi-Core

1. Doesn't require serialization on

[2020-04-20 08:18] thedrow opened #64 "Interpreter.run() should accept a function, a method or a code object"
Right now, forcing the user to write explicit code when calling `run()` isn't convenient.
We could accept a code object instead or fetch it from a callable using inspect.

[2020-04-20 09:03] benedwards14 commented on #19
Could I also ask why this must be the case?

[2020-04-20 09:22] crusaderky commented on #63
Unless there's some fundamental optimization I'm missing, the idea of having short-lived subinterpreters is fundamentally flawed. Starting a new interpreter can take hundreds of milliseconds, because you have to reload all modules from the OS disk cache. With subinterpreters, it's going to be only marginally faster than starting a new process with the 'spawn' multiprocessing context. So if you cre

[2020-04-20 15:40] thedrow commented on #63
Oh in that case can't you copy the loaded modules to the new interpreter instead?

If we're allocating a variable in our sub-interpreter, it should be in a dictionary held by the interpreter state.
If it isn't, it belongs to another interpreter.

[2020-04-20 20:37] ericsnowcurrently commented on #64
This is a good idea, but one which will take a bunch more work than the minimal functionality PEP 554 specifies.  See https://www.python.org/dev/peps/pep-0554/#interpreter-call.

We can circle back to this once PEP 554 is accepted and landed.

[2020-04-20 20:41] ericsnowcurrently commented on #63
These are great ideas, but ones that should be explored after we have the fundamental functionality available.  We can circle back to this later.  Feel free to run with it now though. :smile:

[2020-04-20 20:45] ericsnowcurrently commented on #19
This is great, @benedwards14!  Yeah, I'd love to see a PR.  If it's okay with you, I'll hold off on feedback here in favor of reviewing the PR.

I don't see any issues open on BPO, so feel free to open a new one there (and nosy me).

[2020-04-20 20:51] ericsnowcurrently commented on #19
As to why we destroy the shared lock in the original interpreter, it is because the lock should be deallocated using the same allocator that allocated its memory.  For now there is one process-global allocator guarded by a single process-wide GIL.  However, eventually memory allocators (and the GIL) will be per-interpreter.  So we are doing the work now to ensure that we handle memory safely in th

[2020-04-20 22:05] tpn commented on #63
(Just wanted to add a quick note saying that I'm delighted to see PyParallel included in these discussions; I think that there were some very interesting outcomes from the design decisions that I took in that project that should be considered (even if to reject) when discussing multi-core Python options.)

[2020-04-21 07:48] thedrow commented on #63
@tpn I wish you could simply contribute the API for parallel contexts without the extra module.
That will allow us to experiment with it and see how we can improve multi-core python further.

Can we chat about this?

[2020-04-21 07:50] thedrow commented on #63
@ericsnowcurrently I'll need you to complete #34, #29 and possibly others first.
We just have to make sure a GC and a GIL are optional for a sub-interpreter.
Is that doable soon?

[2020-04-21 14:07] ericsnowcurrently commented on #63
@thedrow, #34 (GIL) is blocked by pretty much everything else and will happen pretty much last.  #29 (GC) is already done.

[2020-04-21 14:09] ericsnowcurrently commented on #63
@tpn, FWIW, I drew inspiration from PyParallel (particularly the focus on isolation). :smile:

[2020-04-21 14:17] thedrow commented on #63
Can we introduce a disable_gc keyword argument? Should I open a separate issue about that?

[2020-04-21 15:01] ericsnowcurrently commented on #63
A keyword argument for what?

[2020-04-22 04:41] thedrow commented on #63
For disabling the garbage collector when starting a new sub-interpreter.

[2020-04-25 19:28] benedwards14 commented on #19
Hi @ericsnowcurrently , I have created a BPO and pull request here:
https://bugs.python.org/issue40390
https://github.com/python/cpython/pull/19715

I'm a bit unsure about the fields of the bug I chose would be worth checking them

[2020-04-25 21:47] nanjekyejoannah commented on #21
Blocked by  [this PR](https://github.com/python/cpython/pull/17323). I think @LewisGaul has looked at this longer.  It makes sense for you to finish. @LewisGaul  happy to know where to help.

[2020-04-28 19:42] ericsnowcurrently commented on #19
Thanks, @benedwards14.  I updated the BPO title and component and am starting a review of the PR.

[2020-04-29 02:13] ericsnowcurrently commented on #52
The PR has been merged!  Thanks again, @LewisGaul!

[2020-04-29 02:13] #52 closed

[2020-04-29 18:03] ericsnowcurrently commented on #17
PR: https://github.com/python/cpython/pull/19768

[2020-04-29 23:07] ericsnowcurrently opened #65 "Identify any problems with using the stdlib in subinterpreters."
This could be done with the following:

1. run the full CPython test suite (regrtest) inside a subinterpreter
2. create an issue for each failure

There are also possible issues that could arise when using a stdlib module in two different subinterpreters, which the test suite doesn't surface.  It would be nice to have a strategy for covering that case.

It might also be reasonable (in the long ter

[2020-05-05 12:59] vstinner commented on #34
I created two issues to track this upstream:

* https://bugs.python.org/issue40512: "Meta issue: per-interpreter GIL"
* https://bugs.python.org/issue40513: "Move _PyRuntimeState.ceval to PyInterpreterState"

[2020-05-05 13:40] vstinner commented on #30
I proposed the following issue and PR to implement this workaround as a configure build option:

* https://bugs.python.org/issue40514
* https://github.com/python/cpython/pull/19926

[2020-05-07 14:59] ericsnowcurrently commented on #17
https://github.com/python/cpython/commit/a1d9e0accd33af1d8e90fc48b34c13d7b07dcf57

[2020-05-07 14:59] #17 closed

[2020-05-08 00:56] nanjekyejoannah commented on #21
@ericsnowcurrently  I opened a PR to solve this here : https://github.com/python/cpython/pull/19985

[2020-05-08 01:09] ericsnowcurrently commented on #21
Awesome!  I should have some time to look tomorrow.

[2020-06-24 03:55] tritium21 commented on #65
would it be a good idea to run each test twice, in their own subinterpreters simultaneously (or at least as simultaneously as the current implementation of subinterpreters allows)?

[2020-08-04 17:42] mkueh opened #66 "Is it still possible that the PEP 554 appears in Python 3.9?"
The main page still says "still hopeful for Python 3.9" but the time window for that is already closed, right?

[2020-08-05 03:29] aisk commented on #66
FYI, I have a backport for PEP554, works on 3.8 / 3.8 : https://github.com/aisk/backports.interpreters

[2020-08-05 03:42] jakirkham commented on #66
Would guess not based on PR ( https://github.com/python/peps/pull/1394 ), but would be happy to be wrong 🙂

[2020-08-05 13:41] LewisGaul commented on #66
@mkueh The target was moved from 3.9 to 3.10 back in May as stated in [this email on python-dev](https://mail.python.org/archives/list/python-dev@python.org/message/PZO7ZQB7OAOEJ7AXMJNMDKZC3B3UVDZA/), with the aim being to have a per-interpreter GIL by then :)

You may be interested in the wider email discussions around that time (there were a couple of other threads, you can [search "pep 554"](ht

[2020-08-05 21:03] jakirkham commented on #66
@LewisGaul, do you happen to know where the per-interpreter GIL work is being tracked?

[2020-08-05 21:12] LewisGaul commented on #66
@jakirkham I think this is still the main centralised place for tracking the subinterpreter work, I'm not personally aware of there being a lot of movement on the project currently, perhaps we can expect to see a bit more happening closer to release of 3.10 :) That's not to say there wouldn't be room for people to help out before then! Perhaps Eric will be able to give more of an update at some po

[2020-08-10 16:35] LewisGaul commented on #66
I've just been made aware of Victor Stinner's page tracking subinterpreter work: https://pythondev.readthedocs.io/subinterpreters.html

[2020-08-18 16:43] jw2476 commented on #66
Hey @ericsnowcurrently I would love to co tribute to this and would really appreciate some guidance, sorry I contacted you this way I couldn't find any other... Thanks in advance!

[2020-09-10 10:50] connorjak opened #67 "(Wiki) Add to “Interested Parties”: Embed as per-thread scripting"
In my C++ simulation platform, I load DLLs with user-made plugins that each get their own thread and update loop, and all cross-plugin state access is controlled by strict mutexing. I want to be able to run a Python script as a replacement of C++-coded behavior, with custom C API function bindings constituting the only connections with the outside C++ state.

Enabling easy ways to embed Python cod

[2020-09-15 13:07] encukou opened #68 "_ast allows smuggling objects across subinterpreters"
The `_ast` module uses global state with heap types, so it is possible to do:
[code]
(And `any object` might store any kind of interpreter-specific state.)

See [bpo-41631](https://bugs.python.org/issue41631) for some related discussion.

Aside from this particular issue, there's the bigger issue of identifying other cases like this. It's not enough to remove statics; we also need to isolate the d

[2020-10-19 19:59] markshannon opened #69 "Clarify what is a "sub-interpreter" and what is an "interpreter"."
PEP 554 is entitled "Multiple Interpreters in the Stdlib", yet the term "subinterpreters" is used throughout this repo.

There is the additional confusion of the C struct names.
It seems to me that the C struct `PyInterpreterState` corresponds to the *sub*-interpreter and that the C struct `_PyRuntimeState` corresponds to the interpreter.

Confusion about which is which makes the goals of this pro

[2020-10-19 21:00] LewisGaul commented on #57
I'm going to start looking at this again now, sorry for delay.

[2020-10-20 08:13] encukou commented on #69
IMO, "subinterpreter" not a good term; generally we should aim to make all interpreters equal (though that can be a long-term goal).

[2020-10-20 10:57] markshannon commented on #69
Sub-interpreters already exist, whether we like the term or not.
They share the same heap, although they cannot see each other's sub-heap, just common objects like builtin types and numbers.

Why not leave them working as they do now, and enable multiple interpreters?
That way seems easier to implement in practice, and causes less breakage (at least, no more breakage).

[2020-10-20 11:28] encukou commented on #69
As far as I can see, "sub-interpreter" and "interpeter" are basically interchangeable terms at this point. See e.g. the first two sentences in [the Py_NewInterpreter docs](https://docs.python.org/3/c-api/init.html#c.Py_NewInterpreter).
They shared some objctes like builtin types and numbers, which are immutable and currently OK to share – until you want per-interpreter GIL, which is one of the goa

[2020-10-20 13:10] markshannon commented on #69
The problem with that approach is that involves a lot of moving stuff from `_PyRuntimeState` to `PyInterpreterState`.
Wouldn't allowing several `_PyRuntimeState` be less work as it already has a GIL?
It would also allow subinterpreters to work as they currently do.

Until multiple interpreters can run in parallel, moving global state into `_PyRuntimeState` has no adverse impact on performance. Mov

[2020-10-20 13:38] encukou commented on #69
I doubt it – you'd need to make a per-`_PyRuntimeState` GIL, whereas in the current approach you'd need to make a per-`PyInterpreterState` GIL. The main issues, like making sure threads don't mangle a shared object's refcounts, are basically the same.

What exactly do you mean by allowing subinterpreters to work as they currently do?

[2020-10-20 15:12] markshannon commented on #69
All sub-interpreters share the same heap (even though they can see different parts of it) and share the GIL.

[2020-10-21 07:42] encukou commented on #69
So, to clarify, under your proposal with multiple `_PyRuntimeState`, we would plan to make one GIL per `_PyRuntimeState`?
Would sub-interpreters from different `_PyRuntimeState`s not share the heap?

[2020-10-21 11:12] markshannon commented on #69
Doesn't sharing a heap between interpreters require synchronization for the cycle GC?

[2020-10-21 11:13] markshannon commented on #69
My main point is that without clearer naming, it is impossible to discuss these alternatives without a lot confusion.

[2020-10-21 12:40] encukou commented on #69
OK. Here's my take.
You can have multiple *interpreters* in a single process. They should be isolated from each other; we're working on improving that isolation.
The term *subinterpreter* essentially means the same thing as *interpreter*. There are subtle differences:
* If you start one interpreter from another, you'd call the child a "subinterpreter". (But you can also start interpreters from pur

[2020-10-21 15:48] ericsnowcurrently commented on #69
The key detail is that there is a "main" interpreter:

* created during runtime initialization
* used during runtime initialization
* used during runtime finalization
* the initial interpreter exposed to users
* has the "main" thread

We have been calling all other interpreters in the runtime "subinterpreters".

FWIW, in the context of PEP 554, we start at the main interpreter.  Each new interpret

[2020-10-22 14:55] ericsnowcurrently commented on #69
FYI, the [C-API docs have a paragraph](https://docs.python.org/3/c-api/init.html#sub-interpreter-support) explaining the distinction (thanks to @nanjekyejoannah).

[2020-10-25 15:41] LewisGaul commented on #66
I would suggest closing this issue - the answer is that PEP 554 will not appear in 3.9 (which has now been released), and the target is 3.10.

[2021-01-26 03:36] JunyiXie opened #70 "About todos: GC and pymalloc"
Half a year ago, I implemented a similar change to parallelize the sub-interpreters in the company's internal project. I noticed that there are related to-dos in the Dev documentation. My handling of these issues is:
- Each sub-interpreter holds a garbage collection.
- Each sub-interpreter holds a memory pool.
I look forward to your changes being merged into 3.10, so that I don’t have to maintain

[2021-01-26 07:10] jakirkham commented on #70
I think the GC already got moved into subinterpreters ( https://github.com/ericsnowcurrently/multi-core-python/issues/29 ). FWIU fixing pymalloc is probably more complicated due to the GIL, which is tracked here ( https://github.com/ericsnowcurrently/multi-core-python/issues/30 ). There is a workaround to use `malloc` as suggested, which was included in PR ( https://github.com/python/cpython/pull/

[2021-01-26 09:08] JunyiXie commented on #70
At first, I simply closed pymalloc, but I found that in many scenarios, **this will seriously affect the performance of python execution.** If the implementation of a multi-sub interpreter has too much impact on the performance of a single interpreter, I think the multi-sub interpreter does not have much practical value.

So I started to adapt the pymalloc multi-sub interpreter
*My modification me

[2021-02-02 21:05] encukou opened #71 "Idea: Define an opt-in C-API subset usable with per-interpreter GIL"
The current C API is not compatible with per-interpreter GIL. For example, it contains global static types such as `PyList_Type`.
We should definitely add functions to access these and deprecate the old way of doing things. However, that old way of doing things is widely used. Removing it from the C-API would be a major compatibility break – one that I think Python should not make.

Instead, I pro

[2021-02-18 08:31] JunyiXie opened #72 "About PyEval use tstate->interp->runtime->gilstate"
`struct _gilstate_runtime_state *gilstate = &tstate->interp->runtime->gilstate;`  use gilstate from _RuntimeState, subinterpreters share gilstate. when mutli subinterpreters call `PyEval_AcquireThread`, Is there a thread safety issue??

I think each subinterpreter holds gilstate like _gil_runtime_state. `&interp->runtime->ceval->gil`

[code]

_gilstate_runtime_state Should do similar treatment
[co

[2021-02-18 08:50] jakirkham commented on #72
It might help to list the filenames and line numbers

[2021-02-18 09:33] JunyiXie commented on #72
ceval.c:437

[2021-02-18 12:09] JunyiXie commented on #72
@vstinner

[2021-02-18 12:19] vstinner commented on #72
See https://bugs.python.org/issue15751

[2021-02-18 13:53] JunyiXie commented on #72
Thank you, I read the implementation code.

In EXPERIMENTAL_ISOLATED_SUBINTERPRETERS Mode.
tstate can retrieve directly from _PyThreadState_GetTSS.No longer need to use gilstate to store. Am I right?

[2021-02-18 13:54] JunyiXie commented on #72
I can help you implementation
`Make pymalloc allocator compatible with subinterpreters.`
I have done a similar sub-interpreter parallel in the company's internal project.

[2021-02-18 15:44] vstinner commented on #72
See https://bugs.python.org/issue40522 for my plan.

[2021-02-24 08:58] JunyiXie opened #73 "feature: support pymalloc for subinterpreters. each subinterpreter has pymalloc_state"
- move pymalloc state in obmalloc.h
- _is add pymalloc_state
- pymalloc_allocxx api use subinterpreter pymalloc_state
https://github.com/JunyiXie/cpython/commit/820954879fd546fcb29b654d10c424bd47da70ce

[2021-02-24 08:59] JunyiXie commented on #73
I found a bug PyInterpreterState_New use thread tstate before set.
https://github.com/python/cpython/pull/24636

[2021-02-25 03:24] #73 closed

[2021-02-25 08:43] JunyiXie opened #74 "use thread-specific data tstate before key create ."
Someone can review this pull request? https://github.com/python/cpython/pull/24636

[2021-02-25 13:34] JunyiXie commented on #74
@vstinner

[2021-03-09 03:55] JunyiXie opened #75 "mutilcorevm: global variable next_version_tag cause method cache bug"
https://bugs.python.org/issue43441

[2021-03-12 13:20] #75 closed

[2021-03-14 07:54] #72 closed

[2021-03-14 07:54] #70 closed

[2021-03-17 18:34] ericsnowcurrently commented on #71
(Sorry, I missed this.)

How bad would it be if we changed all `Py*_Type` from `PyTypeObject` to `PyTypeObject *` (a la `PyExc_*`)?  The fix is a single search-and-replace (`&Py..._Type` -> `Py..._Type`).  Then (outside the limited API) we could turn all the global PyObject vars into macros that call the per-interpreter lookup function.  (We can do this for the singletons and `PyExc_*` since they

[2021-03-18 09:20] encukou commented on #71
Please, don't. That fix looks easy for actively maintained modules written in C, but the devil is in the details. The Python2 → 3 transition was supposed to be a bunch of easy fixes.

On the big picture: subinterpreters are a great feature, but not useful for everyone. Let's not make everyone pay for it, when there's a way to make it seamless with a bit more effort.

[2021-03-23 12:14] encukou commented on #74
https://github.com/python/cpython/pull/24819 is merged instead.

[2021-03-23 12:14] #74 closed

[2021-05-05 16:17] satishdash opened #76 "Python 3.10"
Hi @ericsnowcurrently
Appreciate all the efforts put into implementing PEP554.
Is there a likely release for this feature in 3.10 or 3.9? I don't see a lot of code commits as of recent to deduce that the interpreters module will be available in 3.10. Any plans or insights on this project would be really great. Thanks.

[2021-05-05 17:08] LewisGaul commented on #76
Hey @satishdash, I don't think there's any way this could make it into 3.10 as I believe it's recently gone into feature freeze and the PEP hasn't been resubmitted to the steering council. I can't comment on how progress is going more generally though :)

[2021-11-09 18:25] gvanrossum commented on #38
Note: that issue is closed as a duplicate of https://bugs.python.org/issue1635741

[2021-11-30 00:18] ericsnowcurrently opened #77 "PEP about interpreter isolation"
At this point it makes sense to have a PEP about interpreter isolation.  This will be a companion to PEP 554.  The PEP will cover the following:

* objective
   * enable multi-core parallelism for Python code (incl. per-interpreter GIL)
   * concurrency model (see PEP 554)
* strategy:  make static globals per-interpreter
   * move globals to PyInterpreterState (or module state)
      * incl. `PyIn

[2021-12-14 15:57] ericsnowcurrently commented on #77
Topics for discussion before the PEP can really take shape:

* is "immortal objects" a viable solution?
   * fixed refcount vs. not
   * otherwise, what are the alternatives for C-API objects?
* how to help extension authors?
* subinterpreters vs. no-gil

I plan on starting threads on python-dev.  I'm also going to reach out to the numpy folks about what it will take for them to supports subinterp

[2022-01-04 22:54] ericsnowcurrently commented on #77
See https://github.com/python/peps/pull/2212.  That's the draft I'm working on, in case anyone is interested.  I should have it filled out (and pared down) and posted by the end of the week.

[2022-01-05 00:13] jakirkham commented on #77
cc @rgommers @seberg (from NumPy for awareness)

Also cc-ing @ogrisel (who may have thoughts as well and know others who would be interested)

[2022-01-05 00:51] seberg commented on #77
Right now, nobody in NumPy is working on it, and I was hoping that the main effort for getting closer could be the HPy effort.  NumPy uses `PyEval_RestoreThread` and `PyEval_SaveThread` in public API and I am not sure if we need a replacement and how it would look like.  If those calls work, fine... If not, we need to extend API *and* move all users to the new API (or crash on subinterpreters?).

[2022-02-09 23:37] ericsnowcurrently opened #78 "Up-to-date TODO list for per-interpreter GIL."
Here's a rough TODO list, sort of in order (a lot can be done in parallel).

Note that most of these items fall out of Tools/c-analyzer/cpython/globals-to-fix.tsv.  (Run `./python Tools/c-analyzer/table-file.py Tools/c-analyzer/cpython/globals-to-fix.tsv` to get counts.)

* [ ] clarify next steps [with the steering council](https://github.com/python/steering-council/issues/103)
* immortal objects:

[2022-02-14 19:22] ericsnowcurrently commented on #78
FYI, here's a recent breakdown of the remaining globals:

* core/builtins (651 total)
   + 298 static types (incl. 130 exception types)
   + 179 cached objects (e.g. str instances)
   + 57 other objects
   + 117 non-object (incl. 60 state)
* extension modules (605 total)
   + 78 static types
   + 317 cached objects (e.g. str instances)
   + 145 other objects
   + 65 non-object (incl. 29 state)

<d

[2022-02-16 17:08] ericsnowcurrently opened #79 "PEP for Per-Interpreter GIL"
At this point it makes sense to have a PEP about the plan for a per-interpreter GIL.  This will be a companion to PEP 554.  The PEP will cover the following (but more focused than #77):

* discuss about interpreter isolation
   + what are we isolating?
   + benefits and costs
   + extent
      - cannot share mutable state
      - cannot share (mutable) objects; all objects are mutable due to refco

[2022-02-16 17:08] ericsnowcurrently commented on #79
I'll probably work on separate PEPs for the following:

* a public C-API similar to `_Py_IDENTIFIER()` for caching strings (e.g. in module state)
* a public C-API for looking up global objects (e.g. global strings) and deprecate exposed objects in C-API

Likewise for the following separate work in the effort to help extensions support subinterpreters:

* some sort of compatibility shim for static

[2022-02-16 17:08] ericsnowcurrently commented on #79
Note that, as with all PEPs, this won't be finished quickly.  See https://github.com/faster-cpython/ideas/issues/276#issuecomment-1041811443.

[2022-02-16 17:10] ericsnowcurrently commented on #77
I'm going to take a more focused approach in #79.

[2022-02-16 17:10] #77 closed

[2022-02-17 11:56] thedrow commented on #79
What happens if we remove the GIL? The [nogil ](https://github.com/colesbury/nogil/) branch is taking shape very nicely.

[2022-02-17 16:34] ericsnowcurrently commented on #79
Yeah, that's a neat project.  There shouldn't be any significant conflicts in the runtime design.  Conceptually the projects coexist just fine.  The real objective with per-interpreter GIL is maximum isolation between interpreters, where the GIL is essentially the last piece of state to isolate.  That will remain even if the GIL is removed.

Note, however, that one of the main benefits of interpre

[2022-02-17 16:48] ericsnowcurrently commented on #79
Hmm, maybe the PEP should emphasize isolation rather than the GIL...

[2022-02-17 21:39] jakirkham commented on #79
Idk how subinterpreters are spun up, but there are often use cases where using `multiprocessing` (in particular forking) causes issues (for example some libraries are not fork-safe). So having a different mode of parallelism that can be used more safely with them would be helpful in its own right. Sorry if this is totally off-topic, just thought it might be an interesting data point 🙂

[2022-03-08 19:56] ericsnowcurrently opened #80 "Move the global runtime config to _PyRuntimeState"
https://bugs.python.org/issue46964

[2022-03-08 20:16] ericsnowcurrently commented on #80
https://github.com/python/cpython/pull/31771

[2022-03-09 03:45] ericsnowcurrently commented on #79
https://github.com/python/peps/pull/2387

[2022-03-12 10:25] kumaraditya303 commented on #78
statically init latin-1 chars is done https://bugs.python.org/issue46881